/*
MySearch
Copyright (C) 2013   Tuxicoman

This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

body{
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
  background: #f1f1f1;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: #3498db;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

.head_bar {
    border-bottom: 1px solid #e5e5e5;
    background: #f1f1f1;
}

.head_part1 {
    height: 36px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-top: 7px;
    padding-left: 7px;
}

.head_line {
    position: relative;
    width: 100%;
}

#logo {
    background:url(/favicon.ico) no-repeat;
    color: transparent;
    height: 26px;
    width: 26px;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 8px;
}



.search_input {
    margin-left: 0px;
    margin-right: 39px;
    background-color: #fff;
    border: 1px solid #d9d9d9 ;
    border-right: none;
    border-top: 1px solid silver;
    height: 35px;
    margin-top: -1px;
    position: relative;
}

.search_input_text {
    background: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
    height: 22px;
    line-height: normal;
    margin-top: 7px;
    padding: 0 3px;
    vertical-align: top;
    width: 100%;
}

.button_icon {
    color:transparent;
    display:inline-block;
    height:30px;
    width:30px;
    padding:0;
    margin:0 auto;
    overflow:hidden;
}
.search_icon {
    background:url(/search_icon.png) no-repeat;
}

.more_icon {
    background:url(/plus_icon.png) no-repeat;
}

#search_button {
    border-radius: 0;
    background: linear-gradient( #3f579d, #37a7db);
    border: 1px solid #3079ed;
    position: absolute;
    right: 0;
    top: 0;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

#head_options {
    font-size: 13px;
    vertical-align: center;
}

#lang_chooser {
    margin-left: 7px;
}

#lang_selector {
    width: 45px;
}

#backend_chooser {
    float:right;
    margin-right: 7px;
}

#backend_selector {
    width: 110px;
}

.head_option {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0 0px;
    color: #777;
    border-bottom: 3px solid #777;
}

.head_option_selected {
    border-bottom: 3px solid #dd4b39;
    color: #dd4b39;
}

#head_options a {
    color: #777;
    text-decoration: none;
}


input[type="checkbox"] {
	display: none;
}

.backend_option {
  display:inline-block;
  padding-left:20px;
  cursor: pointer;
}
.backendWikipedia{
  background:url(/favicon-wikipedia.ico) no-repeat;
}

.backendOpenStreetmap{
  background:url(/favicon-openstreetmap.ico) no-repeat;
}

.backendGoogle{
  background:url(/favicon-google.ico) no-repeat;
}

.relay_status {
	position: fixed;
	bottom: 0px;
	width: 80%;
	padding: 1em 10%;
	color: #333;
	font-size: 1em;
  border-top: 1px solid #CCC;
  background: #f1f1f1;
}

.disclaimer {
  margin-top: 10%;
  margin-bottom: 6em;
	padding: 1em 10%;
	color: #333;
	font-size: 1em;
}
.disclaimer .logo {
	display: block;
	margin: auto;
}
.disclaimer p {
	margin: 20px 0;
	line-height: 1.7em;
}

.image_preview_image {
	float:left;
  margin-right:10px;
  height:140px;
}

.category {
  float:right;
	padding: 5px;
	width: 250px;
	margin: 0px 10px 20px;
	padding: 5px 10px;
	background: #fafafa;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.category .title {
	text-transform: uppercase;
  font-size: .9em;
	margin: 5px 0 10px;
	color: #34495e;
}
.category .item {
	margin: 0 0 15px;
  font-size: 0.8em;
}

.category-images {
  background: #fafafa;
  overflow:auto;
}

.category-images .item {
  padding-left: 5px;
}

.category-videos .video_preview,
.category-videos .link {
	display: table-cell;
	vertical-align: middle;
}

.category-videos a {
  padding-right:10px;
}

.list-error {
  padding: 10px 20px;
  background: #fafafa;
  color: red;
}

.list-links {
	padding: 10px 20px;
  background: #fafafa;
}
.list-links .item {
	margin: 0 0 15px;
}

.list-links .item .link {
	font-size: 1.05em;
  font-weight: bold;
}

.list-links .item .resume {
	font-size: 0.9em;
}
.list-links .item .link-info {
	font-size: 0.8em;
	color: #16a085;
}

.list-related {
  float:right;
	padding: 0 15px 15px;
  background: #fafafa;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  max-width: 25%;
}

.list-related .item {
	margin: 0 0 5px;
}

.list-related .title {
  text-decoration:underline;
  margin-bottom: 5px;
  margin-top: 10px;
}

.more_results {
  clear:both;
  border-top: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.05em;
  font-weight: bold;
}

.link-button {
  color: #3498db;
  text-decoration: none;
  cursor:pointer;
  cursor:hand;
}

.link-button:hover {
  text-decoration: underline;
}


