      {% include "header.html" %}

        <div class="disclaimer">
            <img class="logo" src="favicon64.png" />

            <p><a href="/">MySearch</a> : The search portal that gives you results from the best search sources (<a href="https://www.google.com">Google</a>, <a href="http://www.wikipedia.org">Wikipedia</a>, <a href="http://www.openstreetmap.org">OpenStreetMap</a>, <a href="http://search.yacy.net/">Yacy</a>) without any ads.</p>

            <p>Moreover using Mysearch, there is no way for search engines to spy you using cookie, Flash vars, javascript, user-agent, etc...<br/>
            You can trust this by looking at the <a href="https://framagit.org/tuxicoman/mysearch">code</a> by yourself, not just by believing in my speech (as <a href="https://www.google.com">Google</a>, and <a href="https://duckduckgo.com">DuckDuckGo</a>, tell you to do).</p>
        </div>

        <div class="relay_status">
            <p>Searches since startup : <b>{{searched_queries}}</b><br />
            Queries relayed since startup : <b>{{relayed_queries}}</b> | Relay on this server is <b>{% if use_relay == True %}activated{% else %}deactivated{% endif %}</b>
            </p>
        </div>
    </body>
</html>
