      {% include "header.html" %}
      {% for failure in failures.values() %}
      <div class="list-error">
      {{failure}}
      </div>
      {% endfor %}
      {% if results|length > 0 %}
        {% if related_results|length > 0 %}
        <div class="list-related">
          <div class="title">
            Related results
          </div>
          {% for result in related_results %}
          <div class="item">
              <a class="link" href="?q={{result.related_query}}&backend={{current_backend}}&locale={{current_locale}}">{{ result.link_name }}</a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if results.has_key("wiki") %}
        <div class="list-links">
            {% for result in results["wiki"] %}
            <div class="item">
                <a class="link" href="{{result.redirect_link_url}}">{{ result.link_name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if results.has_key("location") %}
        <div class="list-links">
            {% for result in results["location"] %}
            <div class="item">
                <a class="link" href="{{ result.redirect_link_url }}">{{ result.link_name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if results.has_key("video") %}
        <div class="list-links category-videos">
            {% for result in results["video"] %}
            <div class="item">
                <div class="video_preview">
                    <a href="{{result.redirect_link_url}}"><img class="video_preview_image" src="{% if result.image_data != None %}{{ result.image_data }}{% else %}{{ result.thumbnail_url }}{% endif %}"/></a>
                </div>
                <a class="link" href="{{result.redirect_link_url}}">{{ result.link_name }}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if results.has_key("img") %}
        <script src="/jquery-1.7.2.min.js"></script>
        <script src="/google_images_layout.js"></script>
        <div class="list-links category-images">
            {% for result in results["img"] %}
            <div class="image_preview_image">
                <a href="{{result.redirect_image_url}}"><img src="{% if result.image_data != None %}{{ result.image_data }}{% else %}{{ result.thumbnail_url }}{% endif %}"  data-height="{{ result.height }}" data-width="{{ result.width }}"/></a>
                <div>
                  <a href="{{result.redirect_link_url}}">{{result.link_url_name[: ((result.width/result.height)*15)|int]}}</a>
                </div>
             </div>

            {% endfor %}
        </div>
        {% endif %}

        {% if results.has_key("txt") %}
        <div class="list-links">
            {% for result in results["txt"] %}
            <div class="item">
              {% if result.blacklisted %}
              <del class="link"> {{ result.link_name }} </del>
              {% else %}

              <a class="link" href="{{result.redirect_link_url}}">{{ result.link_name }}</a>
              {% endif %}
                <div class="resume">{{ result.link_resume }}</div>
                <div class="link-info">{{ result.link_url }}</div>
                {% if result.promote_name %}
                  <span class="resume">
                    See also
                  </span>
                <a class="resume" href="{{result.promote_url}}">{{ result.promote_name }}</a>
                {% endif %}
            </div>

            {% endfor %}
        </div>
        {% endif %}

      <div class="more_results">
        <span class="link-button" onclick="document.getElementById('search form').more_results.value = {{ more_results+1 }}; document.getElementById('search form').submit();">More results >>></span>
      </div>
      {% else %}
      <div class="list-links">
      No matching results
      </div>
      {% endif %}
    </body>
</html>
