<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
  </head>
<body>
<script>document.location.replace("{{ url }}");</script>
<noscript></noscript><meta http-equiv="refresh" content="0;URL={{ url }}" /></noscript>
</body>
</html>
